* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(images/bg-hero-desktop.svg);
    width: 1440px;
    margin: auto;
    margin-bottom: 90px;

}

.middle__header{
    display: flex;
    
}

.header__titles{
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    width: 100%;
    
}

.huddler{
    font-weight:800;
    font-size: xx-large;
}

.header__button_one{
    background-color: rgb(235, 231, 231);
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: large;
    height: 37px;
    width: 150px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
}

.header__button_one:hover{
    color: rgb(146, 145, 145);
}

.header__content{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title__content{
    padding-bottom: 30px;
    font-size: 50px;
}

.header__text{
    padding-bottom: 20px;
}

#header__img{
    width: 800px;
    height: 600px;
    padding: 60px;
}

.header__button_two{
    background-color: rgb(255, 0, 200);
    color: white;
    font-weight: 700;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
}

.header__button_two:hover{
    background-color: rgb(255, 155, 222);
}

.main__section{
    box-shadow: 0 0 1em rgba(240, 240, 240, 0.99);
    border-radius: 14px;
    padding: 30px;
    margin: 0 auto 30px auto;
    width: 1000px;
    display: flex;
}

.main__img{
    height: 250px;
    padding-left: 30px;
}

.main__text{
    padding: 0 160px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 500px; */
}

#main__text{
    padding: 0 0px 0 140px;
}

.main__section__title{
    padding-bottom: 15px;
    font-weight: 800;
    font-size: x-large;
}

.main__section__description{
    color: rgb(173, 173, 173);
}

.main__last__button{
    padding: 35px 0;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    box-shadow: 0 0 1em rgba(240, 240, 240, 0.99);
    border-radius: 14px;

}

footer{
    background-color: hsl(192, 100%, 9%);
    width: 1440px;
    height: 100%;
    margin: auto;
    color: white;
}

.footer__section{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.footer__div{
    padding: 30px;
    width: 500px;    
}

.footer__social{
    padding: 30px;
    width: 500px;  
    display: flex;
    justify-content: space-around;

}

.icons{
    display: flex;
}

p{
    padding: 0 0 30px 10px ;
}

.copyright{
    text-align: end;
    padding-right: 50px;
}